body {
  background-color: gainsboro;
}
.login-form{  
  height: 100%;
  background-color: white;
  border: solid 1px gainsboro;
  border-radius: 8px;
  margin: auto; 
  margin-top: 200px;
  max-width: 330px;
  padding: 30px; 
} 
  
 